# CineVerse Supabase
CINE_SUPABASE_URL=https://inmaobjileopqyhfqsbo.supabase.co/rest/v1
CINE_SUPABASE_KEY=your_service_role_key_here

# NEET PG Supabase
NEETPG_SUPABASE_URL=https://tgtxfbfuzpkqofxnrtie.supabase.co/rest/v1
NEETPG_SUPABASE_KEY=your_service_role_key_here
